body {
    background-color: white;
    margin: auto;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin: 2px;
    
}

header {
    padding: 16px;
    background-color: rgb(141, 212, 178);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
}
main{
    margin: 0 450px 0 450px;
}

img {
    max-width: 350px;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 10px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 212, 178);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin: 47px 16px 0 16px;
    border-radius: 10px;
    padding: 0 16px 16px 16px;

}

section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(170, 230, 201);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 1s ease;

    margin: 10px;

}
section a:hover{
    background-color: rgb(71, 151, 111);
}

section h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}